body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cockpit{
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: center;
}

.readComponent{
  display: flex;
  margin-top: 20px;
  width: 500px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}
.editComponent{
  display: flex;
  margin-top: 20px;
  width: 500px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}

.pos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-right: 1px solid black;
}

.todoField{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 350px;
  overflow: hidden;
  margin: 0px 10px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 50px;
  width: 50px;
  border: 0px;
  border-left: 1px solid black;
}

.button:hover{
  cursor: pointer;
}

.editComponent > input {
  border: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  overflow: hidden;
  margin: 0px 10px;
}

.editComponent > input:focus, select:focus{
  outline: none;
}

.editComponent > select {
  border: hidden;
  background-color: white;
  border-left: 1px solid black;
}

.in_progress{
  color: green;
}

.done{
  text-decoration: line-through;
}

.wont_do{
  color: red;
}
